@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}
@media (min-width: 660px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 788px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1044px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1300px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1556px) {
    .container {
        max-width: 1536px;
    }
}
.ant-transfer-operation .css-dev-only-do-not-override-1km3mtt span{
    color: black;
}
.ant-transfer-operation .css-dev-only-do-not-override-1km3mtt {
    border: 1px solid grey;
}
/* 
.tree-transfer .ant-transfer-list:first-child {
    flex: none;
    width: 80%;
  } */

  .MuiAppBar-root{
    box-shadow: none !important;
  }
  .MuiDrawer-paperAnchorDockedLeft{
    background-color: #f2f2f2 !important;
  }
  /* @media only screen and (max-width: 1023px) {
    .MuiAppBar-root{
        background-color: black !important;
        box-shadow: none !important;
      }
  } */
  .MuiDrawer-paperAnchorDockedLeft{
    background-color: #f2f2f2 !important;
  }
  .div-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 120%);
  }
  /* .login-section{
    animation: animateBg 3s linear infinite;
  }
  @keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
  } */